@{
    ViewData["Title"] = "Reporting Page";
}
@model lapGen.Views.ViewModels.ReportingViewModel
<div class="text-center">
    <h1 class="page-title">Reports</h1>
</div>
<hr>
<div class="container-column">
    <div class="container-column">
        <div class="container-header">Average Lap Time by Driver</div>
        <div class="container-grid">
            @foreach (Driver dr in Model.drivers)
            {
                if(!Model.utilsRef.CalculateAverageLapTime(dr.ID,Model.records).Equals("00:00:00"))
                {
                    <div class="grid-item">
                    <h5> <span style="font-weight: bold;">@dr.name</span> <br>Average Lap Time: @Model.utilsRef.CalculateAverageLapTime(dr.ID,Model.records)</h5>
                    </div>
                }
                
            }
        </div>
    </div>
    <hr>
    <br>
    
    <div class="container-column">
        <div class="container-header">Average lap time by Car Number</div>
        <div class="container-grid">
            @foreach (Car cr in Model.cars)
            {
                if(!Model.utilsRef.CalculateAverageLapTime(cr.ID,Model.records,"car").Equals("00:00:00"))
                {
                    <div class="grid-item">
                    <h5>Car# @cr.number <br>Car Name: @cr.name<br>Average Lap Time: @Model.utilsRef.CalculateAverageLapTime(cr.ID,Model.records,"car")</h5>
                    </div>
                }
                
            }
        </div>
    </div>
</div>